@font-face {
    font-family: 'VolterFont';
    src: url('/assets/VolterFont.ttf');
    overflow-y: hidden;
}

body, html {
    overflow: hidden;
    background-color: rgb(2,2,2);
    cursor: none;
}

.background {
    position: absolute;
    z-index: 19;
    width: 100px;
    height: 100%;
    width: 100%; 
    margin-top: 12vh;
    margin-left: 60vw;
    pointer-events: none;
    opacity: 100%;
    background: none;
    background-image: url("https://media1.tenor.com/m/mTQgXH7XefEAAAAd/evil-king-von-king-von.gif");
    background-size: 40%;
    background-repeat: no-repeat;
  }
  