.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    height: auto;
}

button {
    font-family: VolterFont;
    z-index: 10000;
    color: white;
    text-align: left;
    margin-right: 40%;
    background: none;
    border: none;
    cursor: none;
    width: 100%;
    max-width: 800px;
    font-size: 2.5em;
    padding: 10px 20px;
    height: auto;
    transition: background-color 0.3s ease, transform 0.05s ease-in-out;
    display: flex;
    align-items: flex-start;
    transform-style: preserve-3d;
}

button:active {
    transform: scale(0.95) ;
}