.vhs-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("../../public/assets/images/noise.png");
    opacity: 40%;
    z-index: 9999;
    pointer-events: none;
    animation: shift 0.04s linear infinite both;
}

.flash-overlay {
    position: absolute;
    inset: -200%;
    z-index: 111110;
    pointer-events: none;
    background-color: white;
    opacity: 0%;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999999;
    transform: translate(-50%, -50%);
    transition: width 0.15s ease, height 0.15s ease; 
}
  
@keyframes shift {
    0% {
        transform: translateX(10%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}